<link rel="stylesheet" href="../css/style_min.css">
<script type="text/javascript" defer src="../js/script.js"></script>
<div class="flex flex-col">
    <div class="author">
        <h1 class="author_name"></h1>
        <p class="author_comment"></p>
    </div>
    <!-- <img src="path.jpg" alt="path through field to the clouds" class="author_photo m-0 m-auto pb-10" width="220"
        height="112"> -->

    <% if (navigator.userAgent.includes("Chrome") && navigator.userAgent.includes("Mobi")) { document.body.style.cssText
        +="transform: scale(0.95)" ; } %>

        <section class="mt-28 z-10 articles">
            <h2 class="articles_title font-bold text-2xl ml-margin-lp"> Latest Posts</h2>
            <ul class="mt-8 mb-20 posts_ul">

                <% data.forEach(post=> { %>
                    <li class="border-b-zinc-800 border-b-2 border-b mb-11">
                        <a href="/post/<%= post._id %>">
                            <span class="ml-margin-titles text-r-l whitespace-nowrap hover:text-zinc-400">
                                <%= post.title %>
                            </span></a>
                        <div class="flex m-0 m-auto w-7/12">
                            <p class="my-2 line-clamp-4 hyphens-auto text-r-m posts">
                                <%= post.body %>
                            </p>
                        </div>
                        <div class="mb-11 ml-margin-date">
                            <span class="font-light text-r-s post_date">
                                - <%= post.date.toDateString() %>
                            </span>
                        </div>
                    </li>
                    <% }) %>

            </ul>

            <% if (nextpage !==null) { %>
                <div class="ml-margin-title mt-24">
                    <a href="/?page=<%= nextpage %>" class="bottom-20 text-r-s font-light left-24 relative underline
                    underline-offset-4 hover:text-zinc-400 md:left-32 lg:left-48 xl:left-72 previous">...Older</a>
                </div>
                <% } %>

                    <% if (nextpage==null) { %>
                        <div class="ml-margin-title mt-24">
                            <a href="/?page=<%= nextpage %>" class="bottom-20 text-r-s font-light left-[80vw] relative underline
                        underline-offset-4 hover:text-zinc-400 previous">...Newer</a>
                        </div>
                        <% } %>
        </section>

</div>